<div class="region--hero region--hero--company region--full-width">
  <div class="region--hero--company__wrapper region--full-width__wrapper">
    <div class="region--hero--company__heading-full-width">
      <h1 class="heading--sans-serif heading--bold h1">Life as a software project</h1>
      <a class="link--arrow" href="/company/mission-and-values" title="">About Develogger IO</a>
    </div>
    <div class="region--hero--company__two-col">
      <div class="region--hero--company__two-col__text">
        <h2>Sub title here</h2>
        <p>Something here</p>
      </div>
      <div class="region--hero--company__two-col__image"></div>
    </div>
  </div>
</div>
